/* css/footer.css */

.main-footer {
    background-color: #222;
    color: var(--light-text-color);
    padding: var(--spacing-lg) 0 var(--spacing-md);
    font-size: 0.95em;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-md);
}

.footer-col {
    flex: 1;
    min-width: 250px;
    margin-bottom: var(--spacing-md);
}

.footer-col h4 {
    font-size: 1.4em;
    color: var(--light-text-color);
    margin-bottom: var(--spacing-md);
    position: relative;
    padding-bottom: 5px;
}

.footer-col h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    background-color: var(--accent-color);
}

.footer-col p {
    margin-bottom: var(--spacing-sm);
    line-height: 1.8;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col a {
    color: var(--light-text-color);
    transition: color var(--transition-speed) ease;
}

.footer-col a:hover {
    color: var(--accent-color);
}

.footer-col ul li a {
    color: var(--light-text-color);
    transition: color var(--transition-speed) ease;
}

.footer-col ul li a:hover {
    color: var(--accent-color);
}

.social-icons {
    margin-top: var(--spacing-md);
}

.social-icons a {
    display: inline-block;
    margin-right: var(--spacing-sm);
    width: 50px;
    height: 50px;    
    justify-content: center;
    align-items: center;
}

.social-icons img {
    width: 32px;
    height: 32px;    
}

.footer-bottom {
    background-color: --primary-color;
    padding: var(--spacing-sm);
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom p {
    color: var(--light-text-color);
}

.footer-bottom a {
    color: var(--light-text-color);
    text-decoration: none;
}

.footer-bottom a:hover {
    color: var(--accent-color);
}

.footer-col .logo-img {
    width: 50px;
    height: 50px;
    align-items: center;
    object-fit: contain;
    margin-bottom: var(--spacing-sm);
}